* {
	box-sizing: border-box;
}

body, html {
	margin: 0;
	padding: 0;
}

.text-center {
	text-align: center;
}

.app {
	font-family: 'Open Sans', sans-serif;
	min-height: 100vh;
	// background: linear-gradient(#8bc2e2, #708cbe, #474083);
	background: linear-gradient(#9084a2, #5663a3);
	display: flex;
	align-items: center;

	> .row {
		flex: 1;
	}

	.app-content {
		color: white;
		font-weight: 100;
		// background: #5663a3;
		box-shadow: 0px 4px 15px 1px rgba(25, 25, 25, 0.16);
	}
}


.layout {
	@media(min-width: 998px) {
		max-width: 750px !important;
	}
}


@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}  
}