.app-buttons {
	margin: 0 auto;
	width: 150px;
	height: 150px;
	border: 1px solid rgba(255, 255, 255, 0.7);
	border-radius: 50%;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	overflow: hidden;
	margin-bottom: 50px;
	
	.btn-link {
		&:first-child {
			border-bottom: 1px solid rgba(255, 255, 255, 0.7);
		}

		&.active {
			background:  rgba(255, 255, 255, 0.1)
		}
		
		transition: all 0.2s ease-in;
		overflow: hidden;
		color: rgba(255, 255, 255, 0.7);
		font-size: 14px;
		height: 100%;
		text-decoration: none;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}