@import url("https://fonts.googleapis.com/css?family=Open+Sans:300");
@import url("https://fonts.googleapis.com/css?family=Lato:100");
* {
  box-sizing: border-box; }

body, html {
  margin: 0;
  padding: 0; }

.text-center {
  text-align: center; }

.app {
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
  background: linear-gradient(#9084a2, #5663a3);
  display: flex;
  align-items: center; }
  .app > .row {
    flex: 1; }
  .app .app-content {
    color: white;
    font-weight: 100;
    box-shadow: 0px 4px 15px 1px rgba(25, 25, 25, 0.16); }

@media (min-width: 998px) {
  .layout {
    max-width: 750px !important; } }

.app-buttons {
  margin: 0 auto;
  width: 150px;
  height: 150px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 50px; }
  .app-buttons .btn-link {
    transition: all 0.2s ease-in;
    overflow: hidden;
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    height: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center; }
    .app-buttons .btn-link:first-child {
      border-bottom: 1px solid rgba(255, 255, 255, 0.7); }
    .app-buttons .btn-link.active {
      background: rgba(255, 255, 255, 0.1); }

.clock {
  display: flex;
  justify-content: center;
  padding: 10px 0; }
  .clock .time-field {
    text-align: center;
    display: flex;
    align-items: center;
    padding: 30px 0 10px;
    cursor: pointer; }
    .clock .time-field .label {
      font-size: 14px;
      text-transform: uppercase;
      opacity: 0.6; }
    .clock .time-field .value {
      font-family: 'Lato', sans-serif;
      font-size: 120px;
      font-weight: 100;
      padding: 0 5px;
      position: relative; }
      .clock .time-field .value span {
        padding: 0 3px;
        opacity: 0.6; }
      @media (max-width: 768px) {
        .clock .time-field .value {
          font-size: 80px; } }
      @media (max-width: 576px) {
        .clock .time-field .value {
          font-size: 60px; }
          .clock .time-field .value span {
            padding: 0; } }
    .clock .time-field .field-dots {
      font-size: 60px;
      margin: 0 15px; }
      @media (max-width: 576px) {
        .clock .time-field .field-dots {
          font-size: 40px; } }

.clock.focus .time-field span {
  opacity: 0.3; }

@keyframes blink {
  0% {
    opacity: 0.8; }
  100% {
    opacity: 0; } }
.controls {
  margin: 0 auto;
  display: flex; }
  .controls .btn-control {
    transition: all 0.3s ease-in;
    background: transparent;
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 15px 25px;
    color: rgba(255, 255, 255, 0.6);
    flex: 1;
    cursor: pointer; }
    .controls .btn-control:focus, .controls .btn-control:active {
      outline: none; }
    .controls .btn-control:first-child {
      border-right: 1px solid rgba(255, 255, 255, 0.1); }
    .controls .btn-control:hover {
      background: rgba(255, 255, 255, 0.1); }

.input-wrapper {
  transition: all 0.3s linear;
  overflow: hidden;
  position: relative;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.05); }
  .input-wrapper.show {
    height: 60px; }
  .input-wrapper.hide {
    height: 0; }
  .input-wrapper .timer-input {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: none;
    padding: 10px 15px;
    outline: none;
    box-shadow: none;
    color: rgba(255, 255, 255, 0.6);
    margin: 0 auto;
    font-size: 14px;
    text-align: center;
    max-width: 150px;
    font-weight: 100;
    border-radius: 30px;
    display: block; }
    .input-wrapper .timer-input::-webkit-input-placeholder {
      color: rgba(255, 255, 255, 0.4);
      font-size: 14px; }
    .input-wrapper .timer-input:-moz-placeholder {
      color: rgba(255, 255, 255, 0.4);
      font-size: 14px; }
    .input-wrapper .timer-input::-moz-placeholder {
      color: rgba(255, 255, 255, 0.4);
      font-size: 14px; }
    .input-wrapper .timer-input:-ms-input-placeholder {
      color: rgba(255, 255, 255, 0.4);
      font-size: 14px; }

/*# sourceMappingURL=app.css.map */
