.controls {
	margin: 0 auto;
	display: flex;

	.btn-control {
		transition: all 0.3s ease-in;
		background: transparent;
		border: none;
		border-top: 1px solid rgba(255, 255, 255, 0.1);
		padding: 15px 25px;
		color: rgba(255, 255, 255, 0.6);
		flex: 1;
		cursor: pointer;

		&:focus,
		&:active {
			outline: none;
		}
		
		&:first-child {
			border-right: 1px solid rgba(255, 255, 255, 0.1);
		}

		&:hover {
			background: rgba(255, 255, 255, 0.1);
		}
	}
}